/* my custom tokens */

:root {
  --brand-btn-1: oklch(0.58 0.22 275);
  --brand-btn-2: oklch(0.67 0.29 328);
  --brand-btn-3: oklch(0.809 0.105 251.813);
  --brand-btn-4: oklch(0.488 0.243 264.376);
  --brand-btn-5: oklch(0.833 0.145 321.43);

  --brand-header-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

  --shiny-text: oklch(21% 0.034 264.665); /* gray-900 */
  --shiny-shine: oklch(98.8% 0.003 106.5); /* olive-50 */

  --brand-ring: oklch(92% 0.004 286.32); /* zinc-200 */
  --brand-ring-offset: oklch(98.8% 0.003 106.5); /* olive-50 */

  --brand-btn-shadow: 0 0 16px rgb(0 0 0 / 0.15);
  --brand-btn-shadow-strong: 0 0 16px rgba(255, 255, 255, 0.85);
  --brand-drop-shadow: 0 40px 80px rgb(17 24 39 / 25%);
}

.dark {
  --brand-header-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  --shiny-text: oklch(98.8% 0.003 106.5); /* olive-50 */
  --shiny-shine: oklch(21% 0.034 264.665); /* gray-900 */

  --brand-ring: oklch(55.2% 0.016 285.938); /* zinc-500 */
  --brand-ring-offset: oklch(70.5% 0.015 286.067); /* zinc-400 */

  --brand-btn-shadow: 0 0 16px rgba(255, 255, 255, 0.25);
  --brand-btn-shadow-strong: 0 0 16px rgba(255, 255, 255, 0.85);

  --brand-drop-shadow: 0 40px 80px oklch(98.8% 0.003 106.5 / 25%);
}

@theme inline {
  --color-brand-btn-1: var(--brand-btn-1);
  --color-brand-btn-2: var(--brand-btn-2);
  --color-brand-btn-3: var(--brand-btn-3);
  --color-brand-btn-4: var(--brand-btn-4);
  --color-brand-btn-5: var(--brand-btn-5);

  --shadow-brand-header-shadow: var(--brand-header-shadow);
  --shadow-brand-btn-shadow: var(--brand-btn-shadow);
  --shadow-brand-btn-shadow-strong: var(--brand-btn-shadow-strong);

  --color-brand-ring: var(--brand-ring);
  --color-brand-ring-offset: var(--brand-ring-offset);
  --drop-shadow-brand-drop-shadow: var(--brand-drop-shadow);

  --font-playpen: var(--font-playpen);
}

.section-header {
  @apply text-[clamp(1rem,0.2vw+0.95rem,1.125rem)] font-bold w-[90%] mx-auto;
}

/* other theme variable namespaces like --spacing-*, --shadow-* */
