/* my custom tokens */

:root {
  --brand-header-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  --shiny-text: oklch(21% 0.034 264.665); /* gray-900 */
  --shiny-shine: oklch(98.8% 0.003 106.5); /* olive-50 */

  --brand-ring: oklch(93% 0.007 106.5); /* olive-200 */

  --brand-btn-shadow: 0 0 24px rgb(0 0 0 / 0.18);
  --brand-drop-shadow: 0 40px 80px rgb(17 24 39 / 25%);
}

.dark {
  --brand-header-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  --shiny-text: oklch(98.8% 0.003 106.5); /* olive-50 */
  --shiny-shine: oklch(21% 0.034 264.665); /* gray-900 */

  --brand-ring: oklch(44.6% 0.043 257.281); /* slate-600 */
  
  --brand-btn-shadow: 0 0 24px rgb(255 255 255 / 0.12);
  --brand-drop-shadow: 0 40px 80px rgba(252, 251, 251, 0.25);
}

@theme inline {
  --shadow-brand-header-shadow: var(--brand-header-shadow);
  --color-brand-ring: var(--brand-ring);
  --color-brand-ring-offset: var(--brand-ring-offset);


  --shadow-brand-btn-shadow: var(--brand-btn-shadow);
  --drop-shadow-brand-drop-shadow: var(--brand-drop-shadow);

  --font-playpen: var(--font-playpen);
}

.section-header {
  @apply p-2 md:p-10 text-2xl md:text-4xl 
  font-semibold text-center md:text-start
  ;
}

.section {
  @apply px-2 md:px-10;
}
