/* src/components/ui/scrollxui/accordion.tsx */

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-shake-smooth: shake-smooth 0.5s ease-in-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes shake-smooth {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-12px);
    }
    20% {
      transform: translateX(12px);
    }
    30% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-6px);
    }
    60% {
      transform: translateX(6px);
    }
    70% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(3px);
    }
    90% {
      transform: translateX(-1px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
